@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

button {
  background: #22c55e;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}